*

!/README.md
!/.gitignore

!/.config/

# 2. Re-ignore everything inside .config by default (optional, if you want to keep it clean)
/.config/*

# 3. Whitelist the nvim directory and everything inside it
!/.config/nvim/
!/.config/nvim/**

!/.gitmodules
!/.oh-my-zsh
!/.powerlevel10k
!/.fzf
!/.zsh_custom
!/.zsh_custom/**
!/.tmux
!/.tmux.conf.local
!/.tmux.conf

!/.vimrc
!/.zshrc
!/.zshrc_global
!/.p10k.zsh
!/.profile
!/.shell_functions
!/.pyscf_conf.py
!/.wezterm.lua
