*

!/README.md
!/.gitignore

!/.gitmodules
!/.oh-my-zsh
!/.powerlevel10k
!/.fzf
!/.zsh_custom
!/.zsh_custom/**
!/.tmux
!/.tmux.conf.local
!/.tmux.conf

!/.zshrc
!/.zshrc_global
!/.p10k.zsh
!/.profile
